.form-group-divide {
  display: flex;
  justify-content: space-between;
  .form-group {
    width: 45%;
  }
}
.modal-body {
  max-height: 700px;
  overflow: auto;
}
.modal-dialog {
  @media (min-width: 576px) {
    max-width: 900px !important;
  }
}

.type-head-multiple {
  width: 100%;

  .rbt {
    width: 100%;
  }

  .rbt-token {
    background-color: #e7f4ff;
    border: 0;
    border-radius: 0.25rem;
    color: #007bff;
    display: inline-block;
    line-height: 1em;
    margin: 1px 3px 2px 0;
    padding: 3px 7px;
    position: relative;
  }

  .rbt-token-removeable {
    cursor: pointer;
  }

  .rbt-token-remove-button {
    margin-top: -7px;
    margin-left: 5px;
  }

  .rbt-input-wrapper {
    display: flex;
    margin-top: -2px;
  }

  .rbt-aux {
    display: none;
  }
}

.type-head {
  display: flex;
  justify-content: space-between;

  .rbt {
    width: 95%;

    :first-child {
      height: auto !important;
    }
  }

  .rbt-aux {
    align-items: center;
    display: flex;
    bottom: 0;
    justify-content: center;
    position: absolute;
    right: 0;
    top: 0;
    width: 34px;
  }
}

.find-parent {
  .modal-dialog {
    @media (min-width: 576px) {
      max-width: 1200px !important;
    }
  }
  .modal-body {
    height: 70vh !important;
    max-height: 70vh !important;
    overflow: auto;
  }
}
.custom-field {
  display: flex;

  label {
    width: 18%;
    max-width: 15%;
  }
  .type-head {
    width: 100%;

    .rbt {
      width: 94%;
    }
  }
}
.form-group-divide {
  label {
    width: 52%;
    max-width: 52%;
  }
}
.fileInput {
  border-bottom: 4px solid lightgray;
  border-right: 4px solid lightgray;
  border-top: 1px solid black;
  border-left: 1px solid black;
  padding: 10px;
  margin: 15px;
  cursor: pointer;
}
.imgPreview {
  text-align: center;
  margin: 5px 15px;
  height: 100px;
  width: 100px;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  img {
    width: 100%;
    height: 100%;
  }
}
.previewText {
  width: 100%;
  margin-top: 20px;
}
.previewComponent {
  display: flex;
}
