﻿* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // width: 100vh;
  // height: 100vw;
}

.footer {
  width: 100%;
  height: 80px;
  padding: 10px;
  border-top: 1px solid #e7e7e7;

  p {
    margin: 0;
    padding: 0;
  }
}

.layout {
  height: 100%;
}

.logoItem {
  margin: 0px 13px 5px 0px;
}

.card-body {
  padding: 20px 20px 0px 20px;
}

ul.pagination {
  font-size: 13px;

  &>li>span {
    cursor: pointer;
  }

  .page-link {
    border-radius: 2px !important;
  }

  .page-item.active {
    .page-link {
      background-color: #f35800;
      border-color: #f35800;
    }
  }
}

.tippy-content {
  font-size: 14px;
}

label {
  margin: 5px !important;

  &.required {
    &:after {
      content: "*";
      color: red;
      padding-left: 4px;
      font-size: 18px;
      position: absolute;
    }
  }
}

.navbar-dark .navbar-nav {

  .active>.nav-link,
  .nav-link.active,
  .nav-link.show,
  .show>.nav-link {
    color: #fff;
  }
}

.sidebar {
  position: absolute;
  width: 20vw;
  height: 93vh;
}

.topmenu {
  height: 7vh;
  padding-left: 0px !important;
}

.logo {
  height: 7vh;
  width: auto;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.div-logo {
  height: auto;
  width: 20vw;
  background-color: white;
}

.navBlue {
  background-color: #1867b2;
}

.navDarkBlue {
  background-color: #0d569b;
}

.whiteBg {
  background-color: #fff;
}

.white {
  color: #fff !important;
}

.pointer {
  cursor: pointer;
}

.hoverNav {
  font-size: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.hoverNav:hover {
  background-color: #1867b2;
  transition: all 0.5s ease-in-out;
}

.button-reload {
  // color: lightblue;
  height: 38px;
  margin-left: 10px;
}

#authorizedLayout {
  .container {
    max-width: 80vw !important;
    width: 100vw !important;
    padding-left: 30px !important;
    margin-left: 20%;
    overflow: auto;
    height: 93%;

    tr {
      height: 36px !important;
      font-size: 13px;
    }

    .table td {
      padding-top: 0.1rem !important;
      padding-bottom: 0.1rem !important;
      vertical-align: middle;
      font-size: 13px;
      border: none;
    }
  }

  .iconMenuLoad {
    float: right;
    padding: 3px;
    margin-top: 4px;
  }

  .tr-selected {
    background-color: #e5f2fa;
  }

  table {
    border: 1px #d9d9d9 solid;
  }

  .option-panel {
    width: 100%;
    display: flex;
    justify-content: right;
    margin-bottom: 10px;
    margin-top: -5px;

    div {
      cursor: pointer;
    }

    .add {
      margin-right: 20px;
    }
  }
}

.iconMenuLoad {
  float: right;
  padding: 3px;
  margin-top: 4px;
}

.subtitle:hover {
  color: red;
  text-decoration: none;
}

.subtitle {
  color: #1068b2;
}

.subrow:hover {
  background-color: #e3f3ff;
}

.iconMenuLoad {
  float: right;
  padding: 3px;
  margin-top: 4px;
}

thead {
  background-color: #f5f5f5;
  border-color: #d9d9d9;
}

.recordsInfo {
  text-align: right;
  font-size: 12px;
  padding: 5px 5px 0px 0px;
  width: 100%;
}

#workingTimes-table>#td-child {
  text-align: center;
}

.activeLink {
  background-color: #0d4983 !important;
  font-weight: 700;
}

// #dtHorizontalVerticalExample {
//   width: 100%
// }

th {
  white-space: nowrap;
}

.mailTemplates-table {
  display: block;
  overflow-x: auto;
  overflow-y: auto;
  position: relative;
  overflow: scroll;
  height: 70vh;

  // white-space: nowrap;
}

.mailTemplates-table th {
  text-align-last: center;
  // position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
  background: #fff;
}

.mailTemplates-table tbody td {
  overflow-wrap: anywhere;
}

.mailTemplates-table tbody td:nth-child(1) {
  min-width: 200px !important
}

.mailTemplates-table tbody td:nth-child(n+3) {
  min-width: 150px !important
}

.btn-mailTemplate {
  white-space: nowrap;
}

.button01 {
  text-align: right;
  background-color: #ededed;
  padding: 8px 20px 8px 5px;
  border-radius: "3px 3px 0 0";
  position: "relative";
}

.formInformation {
  height: 521.2px;
  overflow-y: auto;
  border: 1px #f0f0f0 solid;
  border-radius: 0 0 3px 3px;
  overflow-x: hidden;
}

.itemRow {
  display: table;
  padding: 20px 20px 0;
  table-layout: "fixed";
  width: 100%;
}

.itemInput {
  display: table-cell;
  vertical-align: middle;
  padding-left: 5px;
  font-size: 15px;
}

.ItemRow01 {
  display: table;
  padding: 0 20px;
  table-layout: fixed;
  border-top: 1px #ebebeb solid;
  width: 100%;
}

.itemText {
  display: table-cell;
  width: 200px;
  padding: 10px 0;
  padding-right: 10px;
  font-size: 15px;
}

.itemText1 {
  display: table-cell;
  width: 200px;
  padding: 10px 0;
  padding-right: 10px;
  font-size: 15px;
  vertical-align: middle;
}

.groupName a {
  color: #1068b2;
  width: 70%;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: middle;
  min-width: 90px;
  text-decoration: none;
}

.groupName :hover {
  color: red;
}

.itemInput a {
  color: #1068b2;
  text-decoration: none;
}

.itemInput a:hover {
  color: red;
}

.listGroup {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  min-width: 50%;
}

.form01 {
  position: absolute;
  left: 22%;
  padding-right: 20px;
}

.listGroup li {
  display: inline-block;
  padding-right: 80px;
  width: 50%;
}

@media screen and (max-width: 768px) {
  .form01 {
    left: 4%;
  }

  .itemText1 {
    display: block;
    width: 100%;
  }

  .listGroup li {
    display: block;
    width: 120%;
    position: relative;
  }

  .itemInput {
    display: block;
  }

  .groupName {
    padding-right: 50px;
  }
}

#tippy-custom {
  transition-duration: 325ms !important;
}

#tippy-arrow-custom {
  border-bottom: 8px solid #333 !important;
  margin-top: 59px;
  font-size: 0.875rem;
  line-height: 1.4;
  position: absolute;
  border-bottom: 8px solid #333;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
  top: -7px;
  margin: 0 40%;
  transform-origin: 50% 100%;
}

#tippy-popper-custom {
  display: inherit;
  z-index: 9999;
  visibility: visible;
  transition-duration: 0ms;
  position: absolute;
  will-change: transform;
  margin-left: 50%;
  margin-top: -5px;
}
.tippy-margin {
  margin-left: 40% !important;
  margin-top: 5px !important;
}
