.workflowStepGuide {
  margin: 0 0 18px 0;
  background-color: #fff;
  border-radius: 3px;
  display: flex;

  .workflowStepGuideDiv {
    cursor: pointer;
  }

  .step-process {
    padding: 5px 25px 7px 15px;
    min-width: inherit;
    display: block;
    position: relative;
    text-align: center;
    background: url("../images/next-steps-complete.png") repeat;
  }

  .last {
    background: url("../images/next-steps.png") no-repeat right -2px;
    display: inline-block;
    width: 19px;
    height: 36px;
    position: absolute;
    top: 0;
    right: -1px;
  }

  .last-final {
    background-image: url("../images/next-steps-li-none.png");
  }

  .text {
    margin-top: 0;
    padding-left: 0;
    font-weight: 500;
    color: white;
  }

  .first {
    background: url("../images/next-steps-li-complete.png") no-repeat right -2px;
    display: inline-block;
    width: 20px;
    height: 37px;
    position: absolute;
    top: 0;
    left: -20px;
  }

  .selected {
    background: url("../images/next-steps-select.png") no-repeat right -2px;

    .text {
      color: #fff;
    }

    .first {
      background: url("../images/next-steps-li-select.png") no-repeat right -2px;
      display: inline-block;
      width: 20px;
      height: 37px;
      position: absolute;
      top: 0;
      left: -20px;
    }
  }
}
.workflow-main-container {
  overflow: auto;

  .direct {
    border: 1px #f0f0f0 solid;
    padding: 15px 20px;
    background-color: #fff;
    border-radius: 0 0 3px 3px;
    height: 85%;
  }

  .workflow-main-option {
    width: 100%;
    border: 1px #f0f0f0 solid;
    background-color: #ededed;
    height: 35px;
    padding-top: 5px;
    padding-right: 10px;
    border-radius: 3px 3px 0 0;
    display: flex;

    .error-message {
      padding-left: 20px;
      color: red;
      font-weight: bold;
    }
  }

  .info-title {
    display: inline-block;
    margin-bottom: 10px;
    vertical-align: top;
    font-size: 18px;
    color: #005296;
    cursor: pointer;
    font-weight: 600;
  }

  .ItemRowWorkflow {
    display: table;
    width: 100%;
    table-layout: fixed;
    font-size: 13px;
    margin-bottom: 10px;
  }
  .ItemText {
    display: table-cell;
    padding: 8px 10px 8px 0;
    padding-right: 10px;
    vertical-align: middle;

    label {
      color: red;
    }
  }
  .ItemInput {
    display: table-cell;
    padding: 8px 10px 8px 0;
    vertical-align: middle;

    input {
      min-height: 30px;
      width: 100%;
      border-radius: 2px;
      border: 1px #e5e5e5 solid;
      color: #2e2e2e;
    }

    .fileInput {
      margin-left: 0px;
      margin-top: 30px;
    }
  }
}
.workflow-main-progress {
  margin-top: 10px;
}
